NYCKEL_CLIENT_ID       = uox6yfnp80plczyona7gzfmz2fiutyai
NYCKEL_CLIENT_SECRET   = epyl9ejulcmznz6e4zuu2bqe2x3ixsv9q77m0cf8rcunsnb394qu4ff2zkjbb0wt
NYCKEL_FUNCTION_ID     = beverage-types
CLOUDINARY_CLOUD_NAME  = du5uifnlf
CLOUDINARY_API_KEY     = 786613437747435
CLOUDINARY_API_SECRET  = ch5dEiQLkEwbGtNlJPak3Vg9O44
